.article {
  margin: 0 auto;
  padding: 1rem;
}

.add-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container{
  background-color: aliceblue;
  padding: 2rem;
}